<h1>Sudoku Lite </h1>
<p>Welcome to Sudoku on Rails. Choose a puzzle from the list below and begin the game!</p>
<p> <%= link_to 'Puzzle 1' %> <%= link_to 'Original' %> <%= link_to 'Solution' %></p>
<p> <%= link_to 'Puzzle 2' %> <%= link_to 'Original' %> <%= link_to 'Solution' %> </p>
<p> <%= link_to 'Puzzle 3' %> <%= link_to 'Original' %> <%= link_to 'Solution' %></p>
<p> <%= link_to 'Puzzle 4' %> <%= link_to 'Original' %> <%= link_to 'Solution' %></p>
<p> <%= link_to 'Puzzle 5' %> <%= link_to 'Original' %> <%= link_to 'Solution' %></p>
<br />
<br />
<br />
<h2> The website is in progress! Please look at the cat and play Magic 8-Ball while waiting for development :D </h2>

<p>Magic 8-Ball</p>
<p><%= link_to 'Ask a question and shake The ball', '/roll' %></p>
